%widgets {
    * {
        @extend %reset_style;

        padding: 0;
    }

    .dim-label { opacity: 0.55; }

    // used to indicate unread notifications
    .alert { color: $alert_color; }
}

.end-region > widget > widget > * {
    min-width: 18px;
    border-left: 2px solid transparent;
}

.drop-shadow {
    @extend %widgets;

    color: $fg_color;
    background-color: $panel_bg;
    box-shadow: 0 2px 4px 0 $panel_shadow;
    border-radius: 1px;
}
