.bluetooth-popover {
    .bluetooth-header {
        padding-left: 3px;
        padding-right: 6px;

        > label {
            font-weight: bold;
        }
    }

    .bluetooth-device-row {
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 2px;
        padding-bottom: 2px;

        .bluetooth-battery-label,
        .bluetooth-device-status {
            font-size: small;
        }

        .bluetooth-connection-button {
            & label {
                font-size: small;
                opacity: 0.55; // Emulate .dim-label
            }
        }
    }
}
