@mixin budgie-menu($image_effect, $search, $image, $insensitive, $label, $undershoot, $overshoot) {
    @extend %reset_style;

    background-color: $panel_bg;

    .container {
        padding: 8px;
    }

    .button:hover { -gtk-#{$image-effect}: none; }

    label, #{$search} {
        color: darken(white, 0.1);

        &:disabled {
            color: transparentize(white, 0.4);
        }
    }

    scrollbar > contents > trough > slider {
        transition: background-color 170ms ease-out;

        background-color: transparentize(white, 0.7);

        &:hover { background-color: transparentize(white, 0.5); }
        &:active { background-color: transparentize(white, 0.3); }
    }

    #{$search} {
        @extend %reset_style;

        padding: 6px 0;
        font-size: 14px;
        border-radius: 6px;
        background-color: transparentize(white, 0.9);
        margin-bottom: 8px;

        #{$image} {
            color: currentColor;

            &:dir(ltr) { padding-left: 8px; padding-right: 12px; }
            &:dir(rtl) { padding-left: 12px; padding-right: 8px; }
        }
    }

    list {
        @extend %reset_style;

        padding: 3px 0 0 5px;

        > row {
            padding: 0;
            margin: 0;
        }

        button.flat {
            @extend %reset_style;

            transition-property: background-color, color;
            transition: 170ms ease-out;
            margin: 2px 0;
            padding: 4px 8px;
            border-radius: 6px;

            &:hover { background-color: transparentize(white, 0.9); }
            &:active {
                label {
                    color: $selected_fg_color;
                }
                background-color: $selected_bg_color;
            }

            box {
                @extend %reset_style;

                label, image {
                    padding: 0;
                }

                image {
                    padding-right: 2px;
                }
            }
        }
    }

    .budgie-menu-footer {
        padding-top: 6px;

        .image-button {
            @extend %reset_style;

            transition-property: background-color;
            transition: 170ms ease-out;
            padding: 4px;
            min-height: 24px;
            min-width: 24px;
            border-radius: 100%;

            &:hover { background-color: transparentize(white, 0.9); }
            &:active { background-color: transparentize(white, 0.8); }
        }

        .user-icon-button {
            @extend %reset_style;

            transition-property: background-color, color;
            transition: 170ms ease-out;
            padding: 4px 8px 4px 6px;
            border-radius: 6px;

            &:hover { background-color: transparentize(white, 0.9); }
            &:active { background-color: transparentize(white, 0.8); }
        }
    }

    .left-overlay-menu, .right-overlay-menu {
        @extend %reset_style;

        background-color: $raven_bg;
        border-radius: 6px;
        margin-bottom: 6px;
        padding: 8px;

        button {
            @extend %reset_style;

            transition-property: background-color, color;
            transition: 170ms ease-out;
            padding: 4px 8px 4px 2px;
            margin: 2px 0;
            background-color: transparent;
            border-radius: 6px;

            > image {
                color: white;
            }

            &:hover { background-color: transparentize(white, 0.9); }
            &:active {
                color: $selected_fg_color;
                > image {
                    color: $selected_fg_color;
                }
            }
        }
    }

    .categories {
        @extend %reset_style;

        margin: 0;
        padding: 0 5px 0 0;
    }

    .category-button {
        @extend %reset_style;

        margin: 2px 0;
        padding: 6px 0;
        border-radius: 6px;
        transition-property: background-color, color;
        transition: 170ms ease-out;

        &:hover { background-color: transparentize(white, 0.9); }
        &:active, &:checked {
            label {
                color: $selected_fg_color;
            }
            background-color: $selected_bg_color;
        }
        &:checked:#{$insensitive} {
            opacity: 0.5;
        }
    }

    #{$undershoot}, #{$overshoot} { background: none; }
}

// Menu Button
@mixin budgie_menu_button($button) {
    #{$button}.budgie-menu-launcher {
        @extend %reset_style;

        padding: 0 2px;
        transition: background-color 170ms ease-out;

        &:hover { background-color: transparentize(white, 0.9); }
        &:active {
            color: $selected_fg_color;
            background-color: $selected_bg_color;
        }
    }
}

// User Menu
@mixin budgie_user_menu($separator, $color) {
    .user-menu {
        .container { padding: 10px; }

        .content-box #{$separator} {
            #{$color}: #{"alpha(@theme_fg_color, 0.15)"};
        }
    }
}
