.budgie-network-popover {
    background-color: $panel_bg;
    color: $fg_color;

    separator {
        background-color: lighten($panel_bg, 8%);
    }

    button {
        @extend %reset_style;

        color: $button_fg;
        &:hover { background-color: transparentize(white, 0.9); }
        &:active { background-color: transparentize(white, 0.8); }

        &.image-button, &.expander-button {
            min-width: 20px;
            min-height: 20px;
            padding: 3px;
            border-radius: 50%;
            -gtk-outline-radius: 999px;
        }
    }

    switch {
        @extend %reset_style;

        background-color: $button_bg;
        border-radius: 11px;
        transition: background-color 100ms;

        &:checked {
            background-color: $suggested_color;
        }

        slider {
            @extend %reset_style;

            background-color: $button_fg;
            border-radius: 8px;
            min-width: 16px;
            min-height: 16px;
            margin: 3px;
            -gtk-outline-radius: 999px;
        }

        &, slider {
            outline-color: transparent;
            color: transparent;
            border: none;
            box-shadow: none;
        }
    }

    .wifi-network-list {
        padding: 2px 0;

        row {
            transition-property: background-color;
            transition: 170ms ease-out;
            padding: 0 4px;
            margin: 1px 0;
            border-radius: 4px;

            &:hover { background-color: transparentize(white, 0.9); }
            &:active {
                background-color: transparentize(white, 0.8);
                color: $fg_color;
            }
        }
    }
}
