// Places Menu
@mixin places_menu($button, $list, $row, $entry) {
    .places-menu {
        .container { padding: 0; }

        .message-bar {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .name-button {
            border: 0;
            border-radius: 0;
            padding: 4px 6px;
        }

        .unmount-button {
            padding: 4px 4px;
            border: 0;
            border-radius: 0;
        }

        .places-section-header {
            padding: 0;
        }

        .places-section-header > #{$button} {
            padding: 8px;
            border: none;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        .places-list {
            background: transparentize($fg_color, 0.96);
        }

        #{$list},
        #{$row} {
            padding: 0;
            margin: 0;
        }

        .unlock-area #{$entry} {
            border-radius: 0;
            border: 0;
        }

        .unlock-area #{$button} {
            border-radius: 0;
            border: 0;
        }

        .alternative-label {
            font-size: 15px;
            padding: 3px;
        }

        .always-expand {
            background: transparent;
            border-bottom: none;
        }
    }
}
