// Raven
@mixin raven($button) {
    @extend %widgets;
    @extend %menu;
    @extend %reset_style;
    color: $fg_color;
    background-color: $raven_bg;
    transition: 170ms ease-out;

    .raven-header {
        color: $fg_color;
        background-color: $raven_expander_bg;
        padding: 4px 0;
    }
    @if $variant=='default' {
        .expander-button { color: gtkalpha(currentColor, 0.5); }
    }
    .raven-background {
        color: $fg_color;
        background-color: $raven_background_bg;

        &.middle { border-bottom-style: none; }  // applet background between two headers
    }
    .powerstrip #{$button} {
        padding: 10px;
    }
    .option-subtitle {
        font-size: smaller;
    }

    .frame {
        margin: 0 8px;
    }
}

.raven-frame > border {
    @extend %reset_style;
}

// Raven Trigger
@mixin raven-trigger($button) {
    #{$button}.raven-trigger {
        padding-left: 2px;
        padding-right: 2px;
    }
}

// MPRIS Applet
@mixin raven-mpris($button){
    .raven-mpris {
        color: $mpris_overlay_fg;
        background-color: $mpris_overlay_bg;

        #{$button}.image-button { padding: 8px; }
    }
}
