name: Build on Ubuntu 22.04
on:
  push:
    branches:
      - main
      - v10.7.x
  pull_request:
    branches:
      - main
      - v10.7.x
jobs:
  ubuntu:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v1
      - run: sudo apt update
      - run: sudo apt remove libunwind-14-dev
      - run: sudo apt install meson ninja-build zenity gnome-screensaver gnome-settings-daemon-dev gtk-doc-tools intltool libaccountsservice-dev libasound2-dev libcanberra-dev libcanberra-gtk3-dev libgee-0.8-dev libgnome-bluetooth-dev libgnome-desktop-3-dev libgnome-menu-3-dev libgtk-3-dev libibus-1.0-dev libmutter-10-dev libpeas-dev libpolkit-agent-1-dev libpulse-dev libupower-glib-dev libwnck-3-dev sassc uuid-dev valac libgstreamer1.0-dev libgee-0.8-dev
      - run: meson build -Duse-old-zenity=true -Dwith-gnome-screensaver=true
      - run: meson compile -C build
