name: Build on Fedora Rawhide
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  fedora:
    runs-on: ubuntu-latest
    container: "registry.fedoraproject.org/fedora:rawhide"
    steps:
      - name: Swap in the full systemd
        run: 'dnf swap --assumeyes systemd-standalone-sysusers systemd'
      - name: Install prerequisites
        run: |
          dnf install --assumeyes \
            'pkgconfig(accountsservice)' \
            'pkgconfig(alsa)' \
            'pkgconfig(gee-0.8)' \
            'pkgconfig(gnome-desktop-3.0)' \
            'pkgconfig(gnome-settings-daemon)' \
            'pkgconfig(gstreamer-1.0)' \
            'pkgconfig(gtk-layer-shell-0)' \
            'pkgconfig(ibus-1.0)' \
            'pkgconfig(libcanberra)' \
            'pkgconfig(libnotify)' \
            'pkgconfig(libpeas-2)' \
            'pkgconfig(libpulse)' \
            'pkgconfig(libwnck-3.0)' \
            'pkgconfig(libxfce4windowing-0)' \
            'pkgconfig(polkit-agent-1)' \
            'pkgconfig(upower-glib)' \
            'pkgconfig(uuid)' \
            'pkgconfig(vapigen)' \
            budgie-desktop-view \
            desktop-file-utils \
            gammastep \
            gcc \
            gettext \
            git \
            grim \
            gtk-doc \
            gtklock \
            intltool \
            meson \
            sassc \
            slurp \
            swaybg \
            swayidle \
            wlopm \
            egl-utils
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Build Budgie Desktop
        run: |
          meson build -Dci=true -Dwith-runtime-dependencies=true
          meson compile -C build
